footer {
  padding: 177px 48px 88px 50px;
  display: flex;
  justify-content: space-between;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-link {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu {
  text-align: center;
  margin-left: 40px;
}

.footer__menu-list-item {
  list-style-type: none;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__address {
  font-size: 18px;
  text-underline-offset: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-style: normal;
  width: 265px;
}

.footer__menu-link_active {
  text-decoration: none;
  list-style-type: none;
}